{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>BattleWeb101 Hall Of Fame</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


    <a href = '{% url "home_urlpattern" %}'>Back to Arsenal</a>

    <div class="jumbotron" style="height: 100%">
        <div class="container">
          <h2>!!!Attacked History!!!</h2>
          <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Attacker</th>   <th>Attacked Time</th> <th>Attack Hit</th> <th>Grid X Hit</th> <th>Grid Y Hit</th>
              </tr>
            </thead>
            <tbody>
                {% for attack in list_of_attacks %}
                  <tr style="color: blue;">
                    <td>{{attack.attacker.player_name}}</td>
                    <td>{{attack.created_time}}</td>
                      {% if attack.hit %}
                          <td style="color: orangered;">Hit!!!</td>
                          <td>{{ attack.grid_x_hit }}</td>
                          <td>{{ attack.grid_y_hit }}</td>
                      {% else %}
                          <td>Missed!</td>
                      {% endif %}
                  </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
    </div>

</body>
</html>





{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    <h1>!!!Attacked History!!!</h1>#}
{##}
{#    <table class="table table-hover table-striped">#}
{#        <thead>#}
{#          <tr>#}
{#            <th>Attackee</th>   <th>Attacked Time</th> <th>Attack Hit</th> <th>Grid X Hit</th> <th>Grid Y Hit</th>#}
{#          </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#          {% for attack in list_of_attacks %}#}
{#              <tr style="color: blue;">#}
{#                <td>{{attack.attacker.player_name}}</td>#}
{#                <td>{{attack.created_time}}</td>#}
{#                  {% if attack.hit %}#}
{#                      <td>Hit!!!</td>#}
{#                      <td>{{ attack.grid_x_hit }}</td>#}
{#                      <td>{{ attack.grid_y_hit }}</td>#}
{#                  {% else %}#}
{#                      <td>Missed!</td>#}
{#                  {% endif %}#}
{#              </tr>#}
{#          {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#</body>#}
{#</html>#}



