{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>BattleWeb101 Hall Of Fame</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>




<a href = '{% url "home_urlpattern" %}'>Back to Arsenal</a>

<div class="jumbotron" style="height: 100%">
    <div class="container">
      <h2>~~~ Hall of Fame (Top 10 Shooters) ~~~</h2>
      <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Player Name</th>   <th>Player Accuracy</th>
          </tr>
        </thead>
        <tbody>
          {% for player in hall_of_fame_list %}
              <tr style="color: blue;">
                <td>{{player.player_name}}</td>
                <td>{{player.player_accuracy}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
</div>

</body>
</html>