{% extends 'root.html' %}
{% load static %}

{% block more_links %}
<link rel = 'stylesheet' type='text/css' href="{% static 'battleweb101/login_authentication.css' %}">
<style>
  label {color:#E84A27;}
  div.video_holder {
/*    background-color: lightblue;*/
    /*width: 110px;*/
    height: 500px;
    overflow: scroll;
  }
</style>
{% endblock %}


{% block title %}  BattleWeb101-{{ user.username }}'s Home page{% endblock %}
{#{% block navbar %} {% endblock %}#}

{% block content-body %}

	<div class="row text-center">
		<h1><span style = "background-color:#000080; color:#FF8C00; border:solid;">Hello ! {{user.username}}!</span></h1>
	</div>


  <div class="modal-content animate" method='post' style="background-color: white;">
    {% csrf_token %}
    <div class="container text-center" style="margin: auto auto 25% auto !important;">
        <a href='{% url "search_opponent_urlpattern" %}'>
      	<button type="button" class="btn btn-primary">
      		<span style="font-size:30px">Search Opponent GO!</span>
      	</button>
        </a>
        <br>

        <br>
        <a href="{% url 'hall_of_fame_urlpattern' %}">
            <button type="button" class="btn btn-primary">
                <span style="font-size:28px">Hall Of Fame</span>
            </button>
        </a>
        <br>

        <br>
        <a href="{% url 'hall_of_sunckers_urlpattern' %}">
            <button type="button" class="btn btn-primary">
                <span style="font-size:30px">Hall of SUnCKERS</span>
            </button>
        </a>
        <br>

        <br>
        <a href="{% url 'player_status_urlpattern' %}">
            <button type="button" class="btn btn-primary">
                <span style="font-size:30px">Player Status</span>
            </button>
        </a>
        <br>

        <br>
        <a href="{% url 'attack_history_urlpattern' %}">
            <button type="button" class="btn btn-primary">
                <span style="font-size:30px">Attacked History</span>
            </button>
        </a>
        <br>

    </div>
  </div>
{% endblock %}


{% block ischool_intro %}
	<div class="col-md-6 col-lg-12 col-xl-6 mb-8" >
	    <h6 class="text-uppercase font-weight-bold">
	        <strong>Things to do on BattleWeb101</strong>
	    </h6>
	            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	    <p>
            <ol>
                <li align = "justify">>
                    <span style="color: dodgerblue">Seach Oppoenet GO!:</span>
                    This allows you to randomly search for other players that are also on BattleWeb101 who have not yet been Sunk for the day.
                    After each search, you could decide to shoot them as long as you still have bullets. Fight on!!!
                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">Hall Of Fame:</span>
                    You will be shown a list of the top 10 best shooters with the best accuracy on BattleWeb101. Why not try to get on that list as well, let's go!
                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">Hall Of SUnCKERS:</span>
                    You will be shown a list of the top 10 players with the most SUnCKER Points. (Take off the 'n' character to unravel the hidden meaning!)
                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">Player Status: </span> Shows the details of your account information.
                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">Attacked History:</span> Shows you a list of all recorded attacks others have launched against you since the day you
                    have registered to become a part of the BattleWeb101!
                </li>
            </ol>
        </p>
	   		   	<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

	</div>
{% endblock %}
<!--/.First column-->

{% block middle_info %}
	<!-- make it empty -->
{% endblock %}






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BattleWeb101</title>
</head>
<body>
    <h1> Welcome to BattleWeb101 where people battle for fun everyday :)</h1>


    {% if request.user.is_authenticated %}
        <li><a href='{% url "logout_urlpattern" %}'><span class="glyphicon glyphicon-log-out"><span style = "font-size: 20px">LogOut</span></a></li>
        <li><a href='{% url "search_opponent_urlpattern" %}'><span class="glyphicon glyphicon-log-out"><span style = "font-size: 10px">Search Opponent - GO!</span></a></li>
        <li><a href="{% url 'hall_of_fame_urlpattern' %}">HALL of FAME!</a></li>
        <li><a href="{% url 'hall_of_sunckers_urlpattern' %}">HALL of SUnCKERS!</a></li>
        <li><a href="{% url 'player_status_urlpattern' %}">Status</a></li>
    {% else %}
        <li><a href="{% url 'signup_urlpattern' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'login_urlpattern' %}"><span class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
    {% endif %}

</body>
</html>



