{% extends 'root.html' %}
{% load static %}

{% block more_links %}
<link rel = 'stylesheet' type='text/css' href="{% static 'battleweb101/login_authentication.css' %}">
{% endblock %}


{% block title %}  iSchool Whiteboard Coding-LogIn {% endblock %}
{% block navbar %} {% endblock %}

{% block content-body %}
			<!-- {{ form }} -->
<!-- 	<div>
		<form method = 'post'>
			{% csrf_token %}

			NetID: {{ form.username }}
			Password: {{ form.password }}<br>
			<input type = 'submit' value = 'login'>

			<p> Not Signed Up yet? <a href = '{% url "signup_urlpattern" %}'> SIGN UP</a> here!</p>
		</form>
	</div>
 -->


<h2 style="text-align: right">Login</h2>
  <form class="modal-content animate" method='post' style="background-color: #FF8800; ">
  	{% csrf_token %}
    <div class="container">
      <label for="uname"><b>User Name</b></label>
      {{ form.username }}
      <label for="psw"><b>Password</b></label>
      {{ form.password }}
      <button type="submit">Login</button>

        <a href = '{% url "signup_urlpattern" %}'> <button type="button" class="btn btn-primary"><span style="font-size:11px">Not Signed Up yet? SIGN UP here!</button></a>
        <a href = '{% url "password_reset" %}'> <button type="button" class="btn btn-danger"><span>Change Password</button></a>
    </div>
  </form>


{% endblock %}




