<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Found Opponent!</title>
</head>
<body>
    You have found your opponent!<br>
    Name of opponent: {{ opponent.player_name }}

    <form method="post" action="{% url 'attack_urlpattern' %}">
        {% csrf_token %}
        <input type="hidden" name="victim" value="{{ opponent.player_name }}">
        <h10>X: </h10>
        <select name="x">
            <option value="0">0</option>
            {% for _ in number_range %}
                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
            {% endfor %}
        </select>
        <h10>Y: </h10>
        <select name="y">
            <option value="0">0</option>
            {% for _ in number_range %}
                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="ATTACK!">
    </form>
</body>
</html>