{% extends 'display_base.html' %}
{% load static %}

{% block sub_additional_links%}
  <link rel='stylesheet' type="text/css" href="{% static 'battleweb101/registration_checkbox.css' %}">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <script>
    // This javascript is used to prevent users from backing user the browser back button to its prevous history
    // of the same target. It forces the page to reload once it has been navigated to trough the browser history,
    // making sure that it will always call on the random access function within the server so that players would
    // not be able to focus hitting on the same victim!
        window.addEventListener( "pageshow", function ( event ) {
          var historyTraversal = event.persisted ||
                                 ( typeof window.performance != "undefined" &&
                                      window.performance.navigation.type === 2 );
          if ( historyTraversal ) {
            // Handle page restore.
            window.location.reload();
          }
        });
    </script>

{% endblock %}

{% block title %}  BattleWeb101 Opponent {% endblock %}

{% block content-body %}

<div class="container col-md-6 col-lg-8 col-xl-6 mb-8" id="whiteboard_context" style="background-color: white; "><!-- text-center   height: 500px-->
<h2 class="text-center" style="margin-top: 5px; margin-bottom: 5px;"> Your Random Search </h2>

        <div class="col-md-2"></div>


        <div class="col-md-8 whiteboard_content text-center">
            {% if player.player_bullets == 0%}
                <h3>
                    <span style="color: navajowhite">
                        You have ran out of Bullets today! <br>
                        Please come again Tomorrow to Shoot someone :)
                    </span>
                </h3>

                <a href="{% url 'home_urlpattern' %}"> <button class="btn btn-success">Back to Arsenal</button></a>
            {% else %}
                You have found your opponent!<br>
                <span style="color: navajowhite">Name of opponent:</span>
                <h3><span style="color: lightseagreen">{{ opponent.player_name }}</span></h3>

                <form method="post" action="{% url 'attack_urlpattern' %}">
                    {% csrf_token %}
                    <input type="hidden" name="victim" value="{{ opponent.player_name }}">
                    <h10>X: </h10>
                    <select name="x">
                        <option value="0">0</option>
                        {% for _ in number_range %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                    <h10>Y: </h10>
                    <select name="y">
                        <option value="0">0</option>
                        {% for _ in number_range %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
{#                    <input type="submit" value="ATTACK!">#}
                    <button class="btn btn-danger" type="submit">ATTACK</button>
                </form>

                <a href="{% url 'search_opponent_urlpattern' %}"><button class="btn btn-primary">Search for another Opponent - GO!</button></a><br>
                <a href="{% url 'home_urlpattern' %}"> <button class="btn btn-success">Back to Arsenal</button></a>
            {% endif %}
        </div>

        <div class="col-md-2"></div>

</div>
{% endblock %}







{% block ischool_intro %}
	<div class="col-md-6 col-lg-12 col-xl-6 mb-8" >
	    <h6 class="text-uppercase font-weight-bold">
	        <strong>What do you do for your search?</strong>
	    </h6>
	            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	    <p align = "center">
            The search results would randomly pick another player within the system who has not yet been Sunk. You will need to choose the X and Y coordinate value from
            their individual drop-down menu to represent the coordinates you choose to shoot at your opponent.
        </p>
	   		   	<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

	  <p align = "center">
          As long as you still have your bullets for the day, you can continuously search for other opponents until you find one who you really want to shoot at.
          If you ran out of your allowed bullets for today, you would no longer be able to find any more opponents until the next day when you're bullets in your arsenal has been reset.
          When you successfully hit on your opponent, you would be directed to a result page and see the details of how much life your opponent has.
          If you successfully gave your opponent the last hit and Sunk them. Congratulations! You have just achieved something incredible and it would be saved into your personal information!
      </p>
	</div>
{% endblock %}
<!--/.First column-->

{% block middle_info %}
	<!-- make it empty -->
{% endblock %}






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Found Opponent!</title>
    <script>
    // This javascript is used to prevent users from backing user the browser back button to its prevous history
    // of the same target. It forces the page to reload once it has been navigated to trough the browser history,
    // making sure that it will always call on the random access function within the server so that players would
    // not be able to focus hitting on the same victim!
        window.addEventListener( "pageshow", function ( event ) {
          var historyTraversal = event.persisted ||
                                 ( typeof window.performance != "undefined" &&
                                      window.performance.navigation.type === 2 );
          if ( historyTraversal ) {
            // Handle page restore.
            window.location.reload();
          }
        });
    </script>

</head>
<body>
    {% if player.player_bullets == 0%}
        You have ran out of Bullets today!
        Please come again Tomorrow to Shoot someone :)
        <a href="{% url 'home_urlpattern' %}"> Head Home</a>
    {% else %}
        You have found your opponent!<br>
        Name of opponent: {{ opponent.player_name }}

        <form method="post" action="{% url 'attack_urlpattern' %}">
            {% csrf_token %}
            <input type="hidden" name="victim" value="{{ opponent.player_name }}">
            <h10>X: </h10>
            <select name="x">
                <option value="0">0</option>
                {% for _ in number_range %}
                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            <h10>Y: </h10>
            <select name="y">
                <option value="0">0</option>
                {% for _ in number_range %}
                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="ATTACK!">
        </form>

        <a href="{% url 'search_opponent_urlpattern' %}">Search for another Opponent - GO!</a>
        <a href="{% url 'home_urlpattern' %}"> HOME </a>
    {% endif %}
</body>
</html>
