<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Found Opponent!</title>
    <script>
    // This javascript is used to prevent users from backing user the browser back button to its prevous history
    // of the same target. It forces the page to reload once it has been navigated to trough the browser history,
    // making sure that it will always call on the random access function within the server so that players would
    // not be able to focus hitting on the same victim!
        window.addEventListener( "pageshow", function ( event ) {
          var historyTraversal = event.persisted ||
                                 ( typeof window.performance != "undefined" &&
                                      window.performance.navigation.type === 2 );
          if ( historyTraversal ) {
            // Handle page restore.
            window.location.reload();
          }
        });
    </script>

</head>
<body>
    {% if player.player_bullets == 0%}
        You have ran out of Bullets today!
        Please come again Tomorrow to Shoot someone :)
        <a href="{% url 'home_urlpattern' %}"> Head Home</a>
    {% else %}
        You have found your opponent!<br>
        Name of opponent: {{ opponent.player_name }}

        <form method="post" action="{% url 'attack_urlpattern' %}">
            {% csrf_token %}
            <input type="hidden" name="victim" value="{{ opponent.player_name }}">
            <h10>X: </h10>
            <select name="x">
                <option value="0">0</option>
                {% for _ in number_range %}
                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            <h10>Y: </h10>
            <select name="y">
                <option value="0">0</option>
                {% for _ in number_range %}
                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="ATTACK!">
        </form>

        <a href="{% url 'search_opponent_urlpattern' %}">Search for another Opponent - GO!</a>
        <a href="{% url 'home_urlpattern' %}"> HOME </a>
    {% endif %}
</body>
</html>