{% extends 'root.html' %}
{% load static %}

{% block more_links %} 
<link rel = 'stylesheet' type='text/css' href="{% static 'battleweb101/login_authentication.css' %}">
<style> 
  label {color:#13294b;}
  #id_email {
  	width:100%;
  	padding: 8px 10px;
  }
</style>
{% endblock %}


{% block title %}  iSchool Whiteboard Coding Change Password-Complete {% endblock %}
{% block navbar %} {% endblock %}

{% block content-body %}

<!--     {{ form.as_p }} -->

  <div class="container" style="background-color:rgb(249,249,150)">
	<p>
	  Your password has been set. You may go ahead and <a href="{% url 'login_urlpattern' %}"><button class="btn btn-primary">Log In</button></a>
	</p>
  </div>


{% endblock %}
{% block intro %}{% endblock %}