{% extends 'root.html' %}
{% load static %}

{% block more_links %} 
<link rel = 'stylesheet' type='text/css' href="{% static 'battleweb101/login_authentication.css' %}">
<style> 
  label {color:#13294b;}
</style>
{% endblock %}


{% block title %}  iSchool Whiteboard Coding Change Password {% endblock %}
{% block navbar %} {% endblock %}

{% block content-body %}
  {% if validlink %}
    <h2 style="text-align: right; width: 200px; float:right;">Change Password</h2>
      <form class="modal-content animate" method='post' style="background-color: #E84A27;">
        {% csrf_token %}
        <div class="container">
          <label for="uname"><b> New Password</b></label>
          {{ form.new_password1.errors }}
          {{ form.new_password1 }}
          <label for="psw"><b>New Password Confirmation</b></label>
          {{ form.new_password2.errors }}
          {{ form.new_password2 }}
          <button type="submit">Change Password</button>
        </div>
      </form>
  {% else %}
  <div class="container" style="background-color:rgb(249,249,150)">
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
      <a href="{% url 'login_urlpattern' %}"><button class="btn btn-primary">Back to Log In</button></a>
    </p>
  </div>
  {% endif %}
{% endblock %}

{% block middle_info %}
  <div class="col-md-3 col-lg-4 col-xl-3 mb-4" style="color: #13294b">
      <h6 class="text-uppercase font-weight-bold">
          <strong style="color: #E84A27; font-size: 50px">RULES!</strong>
      </h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p align = "justify">
        <ol>
          <li>Your password can't be too similar to your other personal information</li>
          <li>Your password must contain at least 8 characters</li>
          <li>Your password can't be a commonly used password</li>
          <li>Your password can't be entirely numeric</li>
          <li>For Password verification, enter the same password as before</li> 
        </ol>
        <p align = "justify"><strong> After successfully changing your password, a message would appear above and you head back to the log in page with your new password </strong></p>
  </div>
  <!--/.Second column-->
{% endblock %}



<!-- {% if validlink %}
  <h3>Change password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {{ form.new_password1.errors }}
    New Password: {{ form.new_password1 }}<br>
    {{ form.new_password2.errors }}
    New Password Confirmation: {{ form.new_password2 }}
    <button type="submit">Change password</button>
  </form>
{% else %}
  <p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
{% endif %}
 -->