{% extends 'root.html' %}
{% load static %}

{% block more_links %} 
<link rel = 'stylesheet' type='text/css' href="{% static 'battleweb101/login_authentication.css' %}">
<style> 
  label {color:#13294b;}
  #id_email {
  	width:100%;
  	padding: 8px 10px;
  }
</style>
{% endblock %}


{% block title %}  iSchool Whiteboard Coding Change Password {% endblock %}
{% block navbar %} {% endblock %}

{% block content-body %}

    <h2 style="text-align: right; width: 200px; float:right;">Change password</h2>
<!--     {{ form.as_p }} -->
    
    
	  <form class="modal-content animate" method='post' style="background-color: #FF8800;text-align:center;">
	    {% csrf_token %}
	    <div class="container">
	      <label for="psw"><b> Email: </b></label>
	      {{ form.email }}
	      <button type="submit" style="background-color: #13294b; color:#E84A27;">Send Verification Link</button>
	    </div>
	  </form>

{% endblock %}


{% block intro %}{% endblock %}




<!--   <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form> -->