{% extends 'root.html' %}
{% load static %}

{% block more_links %} 
<link rel = 'stylesheet' type='text/css' href="{% static 'battleweb101/login_authentication.css' %}">
<style> 
  label {color:#13294b;}
  #id_email {
  	width:100%;
  	padding: 8px 10px;
  }
</style>
{% endblock %}


{% block title %}  iSchool Whiteboard Coding Change Password-Emailed {% endblock %}

{% block content-body %}

<!--   <h2 style="text-align: right; width: 200px; float:right;">Check Email</h2> -->
<!--     {{ form.as_p }} -->

  <div class="container" style="background-color:rgb(249,249,150)">
	  <p>
		An email with instructions for changing your password has been sent to the School webmail you registered with the system.
		You should receive them shortly.
	  </p>
	  <p>
		If you don't receive the email, please make sure you've <strong><em><a href = '{% url "password_reset" %}'><span style='color:red'>entered the UIUC email</span></a></em></strong> you registered with,
		and check your spam folder.
	  </p>
  </div>

{% endblock %}


{% block intro %}{% endblock %}
