{% extends 'root.html' %}

{% block ischool_intro %}
	<div class="col-md-6 col-lg-6 col-xl-6 mb-8" >
	    <h6 class="text-uppercase font-weight-bold">
	        <strong>Introduction</strong>
	    </h6>
	            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	    <p>
            BattleWeb101 is currently under initial development by the Creator listed Above.<br>
            He originally wanted to make something more complicated than LinkedIn. But then he realized he couldn't even get into LinkedIn let alone build a better one LOL.<br>
            Thus, one day it suddenly hit him. Why not make a multiplayer game so people can chill from their busy day to day work and provide them a platform to do something
            simple, silly but yet fun? Thus, BattleWeb101 was born.<br>
            <hr>
            This is only the first release of the application. He will still work on it slowly into the future with much more ideas in mind.
        Such as introducing the AJAX fron-end frameworks and various other functionlities or linking with social websites like Facebook (or Even LinkedIn? lmao)<br>
        Of course if time permits. <br>
        This dude took 5 courses the semester he made BattleWeb101 and built this first version within 1 sitting 2 days straight.<br>
        He's even gotten bold! (Still trying to figure out why...)
        <br>
        A little shout out, thank you Pure Storage for believing the creator to be worthy. The semester would have been the darkest time of our Creator's life if it were not for the Company.<br>
        If you're wondering what Pure Storage is, its where people go to become Puritans. The Creator would become one as well in the Summer of 2019!
        <br><a href="https://www.purestorage.com/" target="_blank">Pure Storage</a>
        </p>
	   		   	<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

	</div>
{% endblock %}
<!--/.First column-->

{% block middle_info %}
	<!-- make it empty -->
    <div class="col-md-6 col-lg-6 col-xl-6 mb-8" >
	    <h6 class="text-uppercase font-weight-bold">
	        <strong>Functionality of the Current Version 0.5.1</strong>
	    </h6>
	            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	    <p>
            <ol>
                <li align = "justify">>
                    <span style="color: dodgerblue">Randomly search for other players on BattleWeb101 to shoot at</span>

                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">Calculate ones accuracy and fight for a seat on the Hall of Fame</span>

                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">Record one's cumulative Suncken times within a day (When all hit points are gone. Currently at 20. Renews everyday)
                     ... Don't fight for this though... (read between the lines...)
                        <br> Creator is thinking of adding Levels or purchases to give a player the freedom to change this or other data in the future...</span>
                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">Look at various other Historical data and information. Should be able to show off to friends in the future</span>
                </li>

                <li align = "justify">>
                    <span style="color: dodgerblue">???</span>: Any new ideas are welcome. Still, same saying, "If time Permits" in the future.
                </li>
            </ol>
        </p>
	   		   	<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

	</div>
{% endblock %}