arrow==0.12.1
blessed==1.15.0
certifi==2018.10.15
chardet==3.0.4
Django==2.1.2
django-extensions==2.1.4
django-picklefield==2.0
django-q==1.0.1
idna==2.8
python-dateutil==2.7.5
pytz==2018.7
redis==3.0.1
requests==2.21.0
six==1.12.0
urllib3==1.24.1
wcwidth==0.1.7
